<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numCols</key>
	<integer>6</integer>
	<key>numRows</key>
	<integer>10</integer>
	<key>initCol</key>
	<integer>1</integer>
	<key>initRow</key>
	<integer>0</integer>
	<key>cell00</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>0</integer>
		<key>row</key>
		<integer>0</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell01</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>0</integer>
		<key>row</key>
		<integer>1</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell02</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>0</integer>
		<key>row</key>
		<integer>2</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell03</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>0</integer>
		<key>row</key>
		<integer>3</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell04</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>0</integer>
		<key>row</key>
		<integer>4</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell05</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>0</integer>
		<key>row</key>
		<integer>5</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell06</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>0</integer>
		<key>row</key>
		<integer>6</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell07</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>0</integer>
		<key>row</key>
		<integer>7</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell08</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>0</integer>
		<key>row</key>
		<integer>8</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell09</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>0</integer>
		<key>row</key>
		<integer>9</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell10</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>1</integer>
		<key>row</key>
		<integer>0</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell11</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>1</integer>
		<key>row</key>
		<integer>1</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell12</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>1</integer>
		<key>row</key>
		<integer>2</integer>
		<key>neighbours</key>
		<array>
			<string>SW</string>
			<string>S</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell13</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>1</integer>
		<key>row</key>
		<integer>3</integer>
		<key>neighbours</key>
		<array>
			<string>SE</string>
			<string>NE</string>
			<string>N</string>
			<string>S</string>
			<string>SW</string>
			<string>NW</string>
		</array>
	</dict>
	<key>cell14</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>1</integer>
		<key>row</key>
		<integer>4</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell15</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>1</integer>
		<key>row</key>
		<integer>5</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell16</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>1</integer>
		<key>row</key>
		<integer>6</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell17</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>1</integer>
		<key>row</key>
		<integer>7</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell18</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>1</integer>
		<key>row</key>
		<integer>8</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell19</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>1</integer>
		<key>row</key>
		<integer>9</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell20</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>2</integer>
		<key>row</key>
		<integer>0</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell21</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>2</integer>
		<key>row</key>
		<integer>1</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell22</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>2</integer>
		<key>row</key>
		<integer>2</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell23</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>2</integer>
		<key>row</key>
		<integer>3</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell24</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>2</integer>
		<key>row</key>
		<integer>4</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell25</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>2</integer>
		<key>row</key>
		<integer>5</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell26</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>2</integer>
		<key>row</key>
		<integer>6</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell27</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>2</integer>
		<key>row</key>
		<integer>7</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell28</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>2</integer>
		<key>row</key>
		<integer>8</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell29</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>2</integer>
		<key>row</key>
		<integer>9</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell30</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>3</integer>
		<key>row</key>
		<integer>0</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell31</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>3</integer>
		<key>row</key>
		<integer>1</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell32</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>3</integer>
		<key>row</key>
		<integer>2</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell33</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>3</integer>
		<key>row</key>
		<integer>3</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell34</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>3</integer>
		<key>row</key>
		<integer>4</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell35</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>3</integer>
		<key>row</key>
		<integer>5</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell36</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>3</integer>
		<key>row</key>
		<integer>6</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell37</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>3</integer>
		<key>row</key>
		<integer>7</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell38</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>3</integer>
		<key>row</key>
		<integer>8</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell39</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>3</integer>
		<key>row</key>
		<integer>9</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell40</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>4</integer>
		<key>row</key>
		<integer>0</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell41</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>4</integer>
		<key>row</key>
		<integer>1</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell42</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>4</integer>
		<key>row</key>
		<integer>2</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell43</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>4</integer>
		<key>row</key>
		<integer>3</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell44</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>4</integer>
		<key>row</key>
		<integer>4</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell45</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>4</integer>
		<key>row</key>
		<integer>5</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell46</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>4</integer>
		<key>row</key>
		<integer>6</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell47</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>4</integer>
		<key>row</key>
		<integer>7</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell48</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>4</integer>
		<key>row</key>
		<integer>8</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell49</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>4</integer>
		<key>row</key>
		<integer>9</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell50</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>5</integer>
		<key>row</key>
		<integer>0</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell51</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>5</integer>
		<key>row</key>
		<integer>1</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell52</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>5</integer>
		<key>row</key>
		<integer>2</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell53</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>5</integer>
		<key>row</key>
		<integer>3</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell54</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>5</integer>
		<key>row</key>
		<integer>4</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell55</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>5</integer>
		<key>row</key>
		<integer>5</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell56</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>5</integer>
		<key>row</key>
		<integer>6</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell57</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>5</integer>
		<key>row</key>
		<integer>7</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell58</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>5</integer>
		<key>row</key>
		<integer>8</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
	<key>cell59</key>
	<dict>
		<key>image</key>
		<string>hexagon_orange</string>
		<key>col</key>
		<integer>5</integer>
		<key>row</key>
		<integer>9</integer>
		<key>neighbours</key>
		<array>
			<string>N</string>
			<string>NE</string>
		</array>
	</dict>
</dict>
</plist>
